
@import 'lib/lab';

$white: #fff;
$black: #000;

// Pastel Colors (Lab to sRGB)
$pastel-red: rgb(252, 121, 134);    // 65  55  15
$pastel-orange: rgb(255, 161, 99);  // 75  31  47
$pastel-yellow: rgb(255, 200, 123); // 85  15  47
$pastel-green: rgb(145, 199, 126);  // 75 -31  31
$pastel-blue: rgb(0, 189, 226);     // 70 -31 -31
$pastel-purple: rgb(185, 159, 227); // 70  23 -31

// Desaturated Light
$light-600: lab(95, 0, -1);
$light-500: lab(90, 0, -2);
$light-400: lab(85, 0, -3);
$light-300: lab(80, 0, -4);
$light-200: lab(75, 0, -5);
$light-100: lab(70, 0, -6);

// Desaturated Dark
$dark-600: lab(5, 0, -5);
$dark-500: lab(10, 0, -6);
$dark-450: lab(12.5, 0, -6.5);
$dark-400: lab(15, 0, -7);
$dark-300: lab(20, 0, -8);
$dark-200: lab(25, 0, -9);
$dark-100: lab(30, 0, -10);

// Third Party
$facebook-blue: #1877f2;
