
// ._footer {
//   padding: 12px 0;
//   color: mix($dark-100, $white, 87.5%);
//   font: 14px/24px sans-serif;
//   text-align: center;
//   white-space: pre;
//
//   &.-span {
//     grid-column: 1 / -1;
//   }
//
//   a {
//     padding: 0 6px;
//     text-decoration: underline;
//   }
// }

._spinner {
  width: 48px + 12px;
  height: 48px + 12px;
  margin: auto;
  padding: ((288px - 48px - 12px) / 2) 0;
  border-radius: 30px;
  // background: $dark-400 url($scheme + $spinner) center/48px no-repeat;
  background: $dark-400 url('/cache/spinner.svg') center/48px no-repeat;
}

//
// Missing
//

.missing {
  display: flex;
  height: 62.5vh;
  padding: 48px 0;

  div {
    margin: auto;
    font: 800 48px/1 $font-inter;
  }
}

@media (min-width: 768px + 1px) {
  .missing {
    div {
      font: 800 96px/1 $font-inter;
    }
  }
}
