
$icon-check-box: ic-check-box-24px($white);
$icon-check-box-outline: ic-check-box-outline-blank-24px($white);

.hashtags {
  display: grid;
  grid: auto 1fr / auto;
  gap: 24px;
  height: calc(100vh - 96px - 36px);
  user-select: none;
}

.hashtags-table {
  padding: 0 0 12px;
  border-radius: 12px;
  overflow-y: overlay;
  background: $dark-500;
  user-select: none;
}

.hashtags-table > table {
  display: grid;
  grid: auto / var(--table-columns);
  font: 14px/24px 'Source Code Pro', monospace;

  &::before {
    display: block;
    content: attr('data-columns');
  }

  thead,
  tbody,
  tr {
    display: contents;
  }

  th {
    position: sticky;
    top: 0;
    margin: 0 0 12px;
    padding: 12px 24px;
    background: $dark-300;
  }

  td {
    padding: 0 24px;
    cursor: pointer;

    &:nth-child(1) {
      padding: 0 24px 0 (24px + 24px + 12px);
      background: url($icon-check-box-outline) 24px / 18px no-repeat;
    }
  }

  tr.-active td {
    $active-color: mix($dark-500, $primary);
    background: $active-color;

    &:nth-child(1) {
      background: $active-color url($icon-check-box) 24px / 18px no-repeat;
    }
  }
}

.hashtags-selected {
  display: flex;
  padding: 12px;
  border-radius: 12px;
  font: 14px/16px $font-inter;
  background: $dark-500;

  > button {
    margin: 0 0 0 12px;
    padding: 12px 18px;
    border-radius: 6px;
    background: $primary;
  }

  > input {
    width: 100%;
    padding: 0 12px;
    outline: none;
    background: none;
  }
}
