
.landing {
  display: grid;
  height: 100vh;
}

.landing-graphic {
  $size: 256px * 1.5;
  display: grid;
  width: $size;
  height: $size;
  margin: auto auto 0;
  padding: 0 0 44px; // (($size - $size * (83.333 / 100)) - 40px / 2)
  background: url('/onclick-insights/cache/graphic.svg') top -18px center/$size no-repeat;

  a {
    margin: auto auto 0;
    padding: 0 24px;
    border-radius: 20px;
    font: 16px/40px $font-inter;
    background: $primary;
    cursor: pointer;
  }
}

.landing-footer {
  color: alpha($light-100, 0.5);
  font: 14px/24px sans-serif;
  text-align: center;
  white-space: pre;

  &.-span {
    grid-column: 1 / -1;
  }

  a {
    padding: 0 6px;
    text-decoration: underline;
  }
}
