
$icon-overview: ic-dashboard-24px($light-500);
$icon-insights: ic-insights-24px($light-500);
$icon-sources: ic-source-24px($light-500);

$icon-hashtags: ic-tag-24px($light-500);
$icon-suggested: ic-lightbulb-24px($light-500);
$icon-discover: ic-explore-24px($light-500);

$icon-settings: ic-settings-24px($light-500);

.main {
  display: grid;
  grid: 1fr / 288px 1fr;
  gap: 36px;
  min-width: 1200px; // temporary?
  height: 100vh;
  animation: 0.5s ease-in-out fadein;

  > main {
    height: 100vh;
    padding: 0 36px 0 0;
    overflow-y: overlay;
  }

  > main > h1 {
    font: 300 36px/96px $font-inter;
  }

  > main > div {
    max-width: 960px - 4px;
  }
}

.main-side {
  display: grid;
  grid: auto 1fr / 1fr;
  background: $dark-500;

  > a {
    padding: 0 24px 0 96px;
    font: 24px/96px $font-inter;
    background: url('/cache/logo.svg') 48px/36px no-repeat;
  }
}

.main-nav {
  padding: 0 24px;

  > a {
    display: block;
    padding: 0 24px 0 72px;
    border-radius: 12px;
    font: 600 16px/48px $font-inter;
    background: 30px/24px no-repeat;

    &.-active {
      background-color: $dark-300;
    }

    &.-disabled {
      opacity: 0.25;
      pointer-events: none;
    }

    &.-icon-overview {
      background-image: url($icon-overview);
    }

    &.-icon-insights {
      background-image: url($icon-insights);
    }

    &.-icon-sources {
      background-image: url($icon-sources);
    }

    &.-icon-hashtags {
      background-image: url($icon-hashtags);
    }

    &.-icon-suggested {
      background-image: url($icon-suggested);
    }

    &.-icon-discover {
      background-image: url($icon-discover);
    }

    &.-icon-settings {
      background-image: url($icon-settings);
    }
  }
}

.main-footer {
  padding: 24px;
  background: mix($dark-500, $dark-600);

  > h1 {
    color: mix($light-100, $dark-400, 75%);
    font: 600 14px/24px $font-inter;
  }

  > p {
    color: mix($light-100, $dark-400);
    font: 12px/18px $font-inter;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}
