
.overview-grid {
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  gap: 32px;
}

.overview-chart,
.overview-card {
  border-radius: 16px;
  background: $dark-500;

  > h1 {
    font: 600 24px/1 $font-inter;
  }
}

.overview-chart {
  grid-column: span 3;
  position: relative; // temp?
  padding: 0 0 24px;

  > h1 {
    padding: 24px 24px 0;
  }

  > svg {
    // margin: 48px 0 24px 0;
    overflow: visible; // neato peato, might be inconsistent cross browser
  }
}

.overview-card {
  padding: 24px 24px;

  > h1 {
    padding: 0 0 12px;
  }

  > p {
    font: 400 18px/1 $font-inter;
  }
}

.overview-menu-container {
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
  font: 14px/16px 'Source Code Pro', monospace;
}
