
.sources {
  display: grid;
  gap: 24px;
  padding: 0 0 36px;
}

.sources-posts {
  padding: 24px;
  border-radius: 12px;
  font: 14px/24px $font-mono;
  background: $dark-500;

  > h1 {
    padding: 0 0 12px;
    font: 600 24px/1 $font-inter;
  }

  > table {
    display: grid;
    grid: auto / 3fr 6fr 1fr 1fr 1fr 1fr 1fr;

    > thead,
    > tbody,
    > thead > tr,
    > tbody > tr {
      display: contents;
    }
  }
}

//

.sources-foobar {
  padding: 24px;
  border-radius: 12px;
  background: $dark-500;

  a,
  button,
  label {
    margin: 0 0 0 auto;
    padding: 0 12px;
    border-radius: 6px;
    font: 14px/36px $font-inter;
    background: $facebook-blue;
    cursor: pointer;

    + a,
    + button,
    + label {
      margin: 0 0 0 12px;
    }
  }
}

.sources-import {
  display: flex;
  border: 24px;
}

.sources-table {
  margin: 24px 0 0;
  border-radius: 12px;
  background: $dark-500;
}

.sources-row {
  display: flex;
  padding: 12px;

  &:nth-child(odd) {
    border-radius: 6px;
    background: $dark-400;
  }

  div {
    margin: 0 0 0 auto;
  }

  span {
    padding: 0 12px;
    font: 14px/36px $font-inter;
  }
}

.sources-overlay {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #{$dark-500}80;

  > div {
    position: relative;
    margin: auto;
  }
}

.sources-close {
  position: absolute;
  top: -9px;
  right: -9px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: red;
  cursor: pointer;
}
